<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="MercrediTest.monTest.ListenerSansExtent"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="MercrediTest.monTest.DropDownDemo"/>
      <class name="MercrediTest.monTest.tableauDemo"/>
      <class name="MercrediTest.monTest.FormDemo"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
